<p id="notice"><%= notice %></p>

<main id="books-index">

  <h1>Books</h1>

  <div id="books-search">
    <h3>Search Books</h3>
    <%= form_with(scope: :search, url: books_path, method: 'get', local: true) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      
      <%= form.label :author %>
      <%= form.text_field :author %>

      <%= form.label :genre %>
      <%= form.collection_select :genre, Genre.all, :id, :name, :include_blank => true %>

      <%= form.submit 'Search'  %>
    <% end %>
  </div>

  <div class="container">
    <% @books.each do |book| %>
      <div class="card">
        <h2><%= book.name %></h2>
        <p><%= book.description %></p>
        <p>$<%= book.price %></p>
        <%= link_to 'Show', book %>
        
        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% elsif current_user && current_user.id == book.user_id %>
          <%= link_to 'Edit', edit_book_path(book) %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</main>