<p id="notice"><%= notice %></p>

<h1>Books</h1>

<% @books.each do |book| %>
  <%= book.name %>
  <%= book.description %>
  <%= book.price %>
  <%= book.genre_id %>
  <%= link_to 'Show', book %>
  <%= link_to 'Edit', edit_book_path(book) if current_user && current_user.id == book.user_id %>
  <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.id == book.user_id %>
  <br>
<% end %>

<br>

<%= link_to 'New Book', new_book_path %>
