<main id="books-index">

  <h1>Books</h1>

  <section id="books-search">
    <h3>Search Books</h3>

    <%= form_with(scope: :search, url: books_path, method: 'get', local: true) do |form| %>
      <%= form.label :title %>
      <%= form.text_field :title %>

      <%= form.label :author %>
      <%= form.text_field :author %>

      <%= form.label :genre %>
      <%= form.collection_select :genre, Genre.all, :id, :name, :include_blank => true %>
      
      <%= form.submit 'Search'  %>
    <% end %>
  </section>

  <section class="container">
    <% @books.each do |book| %>
      <div class="card">
        <h3><%= book.title %></h3>
        <br />
        <% if book.picture.attached? %>
          <%= image_tag book.picture, class: "card-img top thumbnail" %>
        <% else %>
          <%= image_tag "book.jpg", alt: "books in bookcase", class: "card-img top thumbnail" %>
        <% end %>
        <br />
        <p><%= book.description %></p>
        <br />
        <p>Price: <%= book.price %></p>
        
        
        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% elsif current_user && current_user.id == book.user_id %>
          <%= link_to 'Edit', edit_book_path(book) %>
        <% end %>
        <br>

        <% if current_user %>
          <%= form_with model: @order_item do |form| %>
            <%= form.hidden_field :book_id, value: book.id %>
            <%= form.number_field :quantity, value: 1, min: 1 %>
            <%= form.submit "Add to Cart" %>
          <% end %>
        <% end %>

        <br />
        <%= link_to 'Go to Book', book %>
      </div>
    <% end %>
  </section>
  <br />
</main>