<main id="books-show">

  <p id="notice"><%= notice %></p>

  <p>
    <h3>Name:</h3>
    <%= @book.title %>
  </p>

  <p>
    <h3>Description:</h3>
    <%= @book.description %>
  </p>

  <h3>Authors:</h3>
  <br />
  <% @authors.each do |author| %>
    <p><%= author.name %></p>
    <br />
  <% end %>
  


  <h3>Price:</h3>
  <p><%= @book.price %></p>


  <h3>>Genre:</h3>
  <p><%= @book.genre_id %></p>

  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>

</main>